
html,body{
    padding: 0;
    margin: 0;
    font-family: Microsoft YaHei;
}
body{
    width:640px;
    margin: 0 auto;
    background: #eeeeee;
    color: #333333;
}
.output_box {
  text-align: left;
}
#contents{
    position: relative;
    background: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}
#new_task{
    align: center;
    font-size: 20px;
    outline: none;
    padding: 5px;
    border: 1px solid #999999;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    width: 588px;
}
#completed, #pending{
    color: #999;
}
.task{
    position: relative;
    text-align: left;
    font-size: 18px;
    padding: 9px 0 0 0;
    border-top: 1px solid #cccccc;
    margin: 9px 0;
}
.task.top{
    border: 0;
}
div.seg_divider{
  color: #555;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #bbb;
  position: relative;
  margin: 38px 0 9px 0;
}
.remove_btn, .complete-btn, .roll-btn, .activate-btn{
    position: absolute;
    top: 0px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.up-btn{
    position: absolute;
    display: none;
    cursor: pointer;
    line-height: 20px;
    color: gray;
}
.task.top:hover .activate-btn, .task.top:hover .up-btn{
    display: none;
}
.task .remove_btn,
.task .complete-btn,
.task .roll-btn,
.task .activate-btn,
.task .up-btn{
    top: 9px;
}
.task a.time-cost{
    position: absolute;
    top: 9px;
    right: 100px;
    height: 20px;
    width: 40px;
    font-size: 14px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 12px;
    cursor: default;
}
.remove_btn{
    right: 0px;
    background: url(destroy.png) no-repeat;
}
.complete-btn{
    right: 20px;
    background: url(complete.png) no-repeat;
}
.roll-btn{
    right: 20px;
    background: url(roll.png) no-repeat;
}
.activate-btn{
    right: 40px;
    background: url(activate.png) no-repeat;
}
.up-btn{
    right: 60px;
}
div.seg_divider:hover .remove_btn,
.task:hover .remove_btn,
.task:hover .complete-btn,
.task:hover .roll-btn,
.task:hover .activate-btn,
.task:hover .up-btn{
    display: block;
}
.remove_btn:hover, .complete-btn:hover,
.roll-btn:hover, .activate-btn:hover{
    background-position: 0 -20px;
}
.up-btn:hover {
  color: green;
}
a.colored-icon{
    width:18px;
    height:18px;
    display: inline-block;
    border-radius: 9px;
    vertical-align: -2px;
    margin: 0 5px 0 0;
}
.green{
    background-color: #0b0;
}
.gray{
    background-color: #ddd;
}
.yellow{
    background-color: #dc0;
}
.active{
    -webkit-animation: active-color 1s infinite;
}
@-webkit-keyframes active-color{
    from{background-color: #dc0;}
    30%{background-color: #0f0}
    70%{background-color: #d00}
    to{background-color: #dc0;}
}
#footer{
    position: relative;
    color: #555;
    background: #f4fce8;
    font-size: 14px;
    padding: 20px;
    border-top: 1px solid #ededed;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px -1px;
}
#clear-completed, #clear-pending{
    position: absolute;
    font-size: 12px;
    padding: 2px 10px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    cursor: pointer;
}
#clear-completed:hover, #clear-pending:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
#clear-completed{
    top: 8px;
}
#clear-pending{
    top: 32px;
}
.hide{
    display: none;
}
